/* lista de propriedades CSS pesquisadas:
    filter: adiciona efeito "sepia" nas imagens
    box-shadow: adiciona sombra nas tabelas
    accent-color: muda o cor da selação dos inputs tipo "radio"
    user-select: impede que o usuário selecione textos nos elementos "thead"
    transition-duration
    transition-property
    transition-timing-function
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Century Gothic';
    font-size: 17px;
}

table:hover {
    box-shadow: 30px 30px 15px gray;
    transition-property: box-shadow;
    transition-duration: 4s;
    transition-timing-function: ease-out;
}

thead {
    user-select: none;
}

.descricao {
    color: #00f;
}

#sites {
    font-family: monospace;
}

img:hover {
    filter: sepia(1.0);
}

img {
    perspective: 100px;
}

input[type=radio] {
    accent-color: green;
}
