@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color:#1D212B;
}

header{
    height:10vh;
    width: 100%;
    background-color: #8fbafb; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0 70px;
    position:fixed;
    z-index: 3;
    overflow:hidden;
}

footer{
    height:10vh;
    width: 100%;
    background-color: #8fbafb; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
    font-size: 1em;
}

header div{
    display: flex;
    justify-content: space-around;
    width:75vw;
}

#logo{
    height:8vh;
    left:10vh;
    margin: 1vh 2vw auto 1vw;
}

#topo{
    background-image: url(docs/fundoGif.gif);
    background-size:cover;
    background-position: center;
    flex-direction: column;
}

#topo h2{
    font-size: 28px;
    z-index: 2;
}

#topo h1{
    z-index: 2;
}

#topo img{
    position: absolute;
    bottom: 0;
    left:10px;
    max-height:40vh;
    max-width:90%;
}

a:not(footer a){
    text-decoration: none;
    color:#193046;
    font-weight: bolder;
    font-size: 25px;
    text-transform: uppercase;
    max-width: fit-content;
}

footer a{
    text-decoration: none;
    color: #0564f4;
}

header div a:hover{
    color:white;
    transform: scale(1.4);
    transition: 0.25s;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
}

section:nth-child(even){
    color:#fff;
}

section:nth-child(odd){
    color:#1D212B;
    background:#fff;
}

section .container{
    margin:100px;
}

section h1{
    font-size: 60px;
    text-align: center;
}

section h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

section .cards{
    display: flex;
}

section .cards .card{
    margin:20px;
    padding: 20px;
    max-width: calc(50% - 40px);
}

section:nth-child(odd) .cards .card{
    background: #5d99f3;
}

section:nth-child(even) .cards .card{
    background: #5d99f3;
}

section .cards .card h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#tipos .cards{
    flex-wrap: wrap;
}

#tipos .cards .card{
    max-width: calc(100%/3 - 40px);
}

#mercado .cards{
    justify-content: center;
}

#mercado .cards .card{
    max-width: 70%;
}

#mercado .cards .card p:not(:last-child){
    margin-bottom: 15px;
}

#topo a{
    background-color: rgb(255, 230, 40);
    padding: 20px 40px 20px 40px;
    margin-top:40px;
    border:none;
    text-transform: uppercase;
    font-size: 26px;
    z-index:2;
}

#video iframe{
    transition: none 0.0s linear;
    height:80vh;
    width:75vw;
    max-height: calc(75vw/1.9);
    margin-top:20px;
}

@media (max-width:1280px){
    section .tipos .card{
        max-width: calc(100%/2 - 40px) !important;
    }   
}

@media (max-width:1080px){
    header *:not(:first-child){
        display: none;
    }
}

@media (max-width:900px){
    section h1{
        font-size: 40px;
    }
    section .cards:not(#fotos .cards){
        flex-direction: column;
    }
    section .cards .card{
        max-width: fit-content !important;
    }
    #topo h2{
        font-size: 22px;
    }
    footer{
        font-size: 0.6em;
    }
}

.reveal, .revealButton{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active, .revealButton.active{
    transform: translateY(0px);
    opacity: 1;
}

.revealTitle{
    position: relative;
    transform: translateX(-250px);
    opacity: 0;
    transition: all 1.5s ease;
}

.revealSubT{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1.2s ease;
}

.revealTitle.active, .revealSubT.active{
    transform: translate(0, 0);
    opacity: 1;
}

#cadastro{
    flex-direction: column;
    padding-top: calc(10vh + 25px);
}

#textoCadastro{
    max-width:400px;
    min-width:200px;
    width:90%;
    text-align: center;
}

#formContato{
    background-color: #5d99f3;  
    padding:25px;
    margin-bottom:40px;
    margin-top:35px;
    max-width:400px;
    min-width:200px;
    width:90%;
}

#formContato input:not([type='radio']):not([type='checkbox']), textarea, #Curso{
    max-width:370px;
    width:100%;
    border: none;
    padding: 7px;
}

#formContato input:focus, textarea:focus{
    outline: none;
    background-color:rgb(240, 247, 255);
}

select{width: 380px !important;}

#formContato *:not(legend){margin-bottom: 10px;}

label:not(fieldset label){
    display: block;
    margin-bottom: 5px;
}

label{
    font-weight: 500;
}

textarea{resize: none;}

option{padding: 20px;}

fieldset{
    border-color: #4b5760;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fieldsetOpt{
    margin:0 !important; 
}

#formContato button{
    width:65%;
    height:30px;
    border: none;
    background-color: rgb(255, 230, 40);;
    display: block;
    margin: 20px auto auto auto;
    font-weight:600;
}

#fotos img{
    width:20vw;
}

@media (max-width:1080px) {
    #fotos img{
        width:30vw;
    }
}

@media (max-width:680px) {
    #fotos img{
        width:50vw;
    }
}

#fotos .cards{
    flex-wrap: wrap;
    justify-content: center;
}

#fotos .card{
    min-width:200px;
}

#fotos h3{
    font-size:1.2em;
}